---
apiVersion: v1
kind: ConfigMap
metadata:
  name: refresh-jellyfin
  namespace: metube
data:
  trigger.sh: |-
    /refresh/refresh-jellyfin.sh &
  refresh-jellyfin.sh: |-
    #!/bin/sh
    ROOT=/media
    CD=$ROOT/tv/Critical_Role_Cooldown_2024/Season2/
    CR=$ROOT/tv/Critical_Role_2015/Season4/
    TG=$ROOT/tv/Tale_Gate_2026/Season1

    find ${ROOT}/youtube -name 'Tale\ Gate*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $TG \;
    find ${ROOT}/youtube -name 'CR\ Cool*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $CD \;
    find ${ROOT}/youtube -name 'C4*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $CR \;

    sleep 15
    curl -v -X POST \
    -H "Authorization: MediaBrowser Token=\"${JELLYFIN_TOKEN}\"" \
    'https://dvr.crt.lol/Items/34f331a89ce405e2b877d68d5ee4d4a2/Refresh?Recursive=true&ImageRefreshMode=Default&MetadataRefreshMode=Default&ReplaceAllImages=false&RegenerateTrickplay=false&ReplaceAllMetadata=false'
