---
apiVersion: v1
kind: ConfigMap
metadata:
  name: refresh-jellyfin
  namespace: metube
data:
  trigger.sh: |-
    /refresh/refresh-jellyfin.sh &
  refresh-jellyfin.sh: |-
    #!/bin/sh
    ROOT=/media
    CD=$ROOT/tv/Critical_Role_Cooldown_\(2024\)/season2/
    CR=$ROOT/tv/Critical_Role_\(2015\)/season4/
    DW=$ROOT/tv/Draw_Your_Weapons_\(2026\)/season1/
    TG=$ROOT/tv/Tale_Gate_\(2026\)/season1/

    find ${ROOT}/youtube -name 'CR\ Cool*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $CD \;
    find ${ROOT}/youtube -name 'C4*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $CR \;
    find ${ROOT}/youtube -name 'DYW*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $DW \;
    find ${ROOT}/youtube -name 'Tale\ Gate*.mp4' -exec chmod 664 '{}' \; -exec mv '{}' $TG \;

    sleep 15
    curl -v -X POST \
    -H "Authorization: MediaBrowser Token=\"${JELLYFIN_TOKEN}\"" \
    'https://dvr.crt.lol/Items/34f331a89ce405e2b877d68d5ee4d4a2/Refresh?Recursive=true&ImageRefreshMode=Default&MetadataRefreshMode=Default&ReplaceAllImages=false&RegenerateTrickplay=false&ReplaceAllMetadata=false'
