kind: Deployment
apiVersion: apps/v1
metadata:
  name: metube
  namespace: metube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metube
  template:
    metadata:
      labels:
        app: metube
    spec:
      dnsConfig:
        nameservers:
        - 192.168.1.8
      dnsPolicy: None
      containers:
        - name: metube
          image: ghcr.io/alexta69/metube:2026.02.04
          imagePullPolicy: IfNotPresent
          ports:
            - name: metube
              containerPort: 8081
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Detroit"
            - name: UMASK
              value: "022"
            - name: DOWNLOAD_DIR
              value: /media/youtube
            - name: STATE_DIR 
              value: /media/youtube/.metube
            - name: TEMP_DIR
              value: /media/youtube
            - name: CHOWN_DIRS
              value: "false"
            - name: YTDL_OPTIONS
              value: |
                {
                  "cookiefile": "/media/youtube/.cookies/metube.txt",
                  "mark_watched": true,
                  "writesubtitles": true,
                  "subtitleslangs": [
                    "en",
                    "-live_chat"
                  ],
                  "postprocessors": [{
                    "key": "FFmpegEmbedSubtitle",
                    "already_have_subtitle": false
                  },
                  {
                    "key": "Exec",
                    "exec_cmd": "/refresh/trigger.sh"
                  }]
                }
            - name: JELLYFIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: jellyfin
                  key: token
          volumeMounts:
            - name: media
              mountPath: /media
            - name: refresh
              mountPath: /refresh
          resources: {}
          readinessProbe:
            tcpSocket:
              port: metube
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: metube
            initialDelaySeconds: 15
            periodSeconds: 20
      initContainers:
        - name: cookies
          command:
            - /bin/sh
            - -c
            - 'rm /media/youtube/.cookies/metube.txt; cat /media/youtube/.cookies/*.txt > /media/youtube/.cookies/metube.txt'
          image: alpine:latest
          imagePullPolicy: IfNotPresent
          resources: {}
          volumeMounts:
            - name: media
              mountPath: /media
      volumes:
        - name: refresh
          configMap:
            name: refresh-jellyfin
            defaultMode: 0555
        - name: media
          nfs:
            path: /volume1/media
            server: 192.168.1.21
